
/*====================================== 
            Banner form start 
========================================*/
.banner-form-main-container{
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 30;
    margin-top: -40px;
}
.banner-form-main-container .banner-form-container{
    background-image: linear-gradient(to top, rgb(14, 14, 14) , rgba(32, 32, 32, 0.911) );
    box-shadow: inset 0 1px 4px rgba(239, 242, 228, 0.034), inset 0px -1px 4px rgba(247, 247, 247, 0.025);
    width: 100%;
    padding: 20px 30px 30px 30px;
    border-radius: 10px;
}
.banner-form-main-container .banner-form-container h4{
    text-align: center;
}
.banner-form-main-container .banner-form-container form{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 18px;
}
.banner-form-main-container .banner-form-container form div{
    flex: 1;
}
.banner-form-container form div input{
    width: 100%;
    border-radius: 10px;
    padding-left: 14px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #f7f7f718;
    color: #ededed;
}
.banner-form-container form div input::placeholder{
    color: #f7f7f77a;
}
.banner-form-container form button{
    padding: 10px 30px;
    color: var(--bg-gray-secondary);
}
.banner-form-container form button:hover{
    color: var(--bg-gradient-secondary);
}
/*========================================
            Banner form end 
========================================= */